// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #219653;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #7e7e7e;

//bootstrap color
$info: #2D9CDB;
$primary: #2F80ED;
$success: #28a745;

//use into styled-components: var(--green)
:root {
    // Colors
    --blue: $blue;
    --indigo: $indigo;
    --purple: $purple;
    --pink: $pink;
    --red: $red;
    --orange: $orange;
    --yellow: $yellow;
    --green: $green;
    --teal: $teal;
    --cyan: $cyan;
    --gray: $gray;


    //bootstrap color
    --info: $info;
    --primary: $primary;
    --success: $success;
}
