html{
    height:100%
}

body{
    min-height: 100vh;
}

footer{
    position: relative;
    bottom: 0;
}

#main {
    /*margin-top: 60px;*/
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 55px;
}

main {
    flex: auto;
    background-color: #ccc;
}

